.menu-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  outline: none;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  width: 480px;
  height: 796px;
  background-color: var(--primary-white-color);
  z-index: 9999;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: 250ms;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  overflow-y: scroll;
  z-index: 999;
  background-color: var(--primary-white-color);
}

.mobile-menu {
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile {
  text-align: left;
  margin-bottom: 200px;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.mobile__link {
  font-family: var(--font-family-base);
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;

  &--current {
    color: var(--accent-color);
  }
}
.mobile__link:not(:last-child) {
  margin-bottom: 0;
}

.mobile-contacts {
  display: flex;
  flex-direction: column-reverse;
  text-align: left;
  margin-bottom: 50px;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.mobile-contacts__link {
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.mobile-contacts__link--blue {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 40px;
  margin-top: 200px;
  margin-bottom: 32px;
}

.mobile-contacts__link--grey {
  color: var(--title-text-color);
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 64px;
}

.mobile-networks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  text-decoration: none;
  color: var(--accent-color);
  padding: 0;
  margin: 0;
}

.mobile-networks__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0px 10px;

  &:first-child {
    padding-left: 0;
  }
}

.mobile-networks__link {
  font-family: var(--font-family-base);
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
