.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.mobile-menu__item {
  margin-bottom: 32px;

  &:last-child {
    margin: 0;
  }
}

.mobile-menu__link {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-bottom: 32px;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-contact__tel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.menu-contact__mail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
}
.menu--flex {
  display: flex;
}
.menu-seti__item {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle {
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.mobile-menu {
  fill: var(----primary-text-color);
}
