.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  min-width: 450px;
  min-height: 609px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px 40px 40px;
}

// @media screen and (min-width: 320px) {
//   top: 35%;
// }

// @media screen and (min-width: 768px) {
//   top: 65%;
// }

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button {
  position: absolute;
  top: 1px;
  right: 1px;
  cursor: pointer;
  display: flex;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: auto;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.modal__title {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

/* FORM */

.form-field {
  margin-bottom: 10px;

  .form-field__label {
    display: block;
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    align-items: center;
    /* border: 1px solid chocolate; */
  }
}
/* Input */

.input-thumb__form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0;
  padding-left: 42px;
  //   cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover + .input-thumb__svg,
  &:focus + .input-thumb__svg {
    fill: var(--accent-color);
  }
}

.label-txt {
  margin-bottom: 4px;
}

.input-thumb {
  position: relative;
  margin-top: 4px;

  .input-thumb__svg {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--primary-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Textarea */
.textarea {
  display: block;
  resize: none;
  padding: 12px 16px;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 1);
  font-weight: normal;
  letter-spacing: 0.01em;
  line-height: 16px;
  font-size: 12px;
  margin-top: 4px;
  //   cursor: pointer;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

/* Checkbox */

.checkbox {
  display: flex;
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  justify-content: center;
  align-items: center;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  &:checked + .checkbox__icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-size: contain;
    background-origin: content-box;
  }

  &:focus + .checkbox__icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.checkbox__icon {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox__icon:hover {
    cursor: pointer;
  }
}

.checkbox__agreement-txt {
  color: var(--accent-color);
}

/* button */
.form__button-sub {
  padding: 10px 55px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: 124px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
