.section--differences {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.section__title {
  color: var(--primary-text-color);
  font-family: var(--font-family-base);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/* image  */

.product {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;

  .product__images {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }
}

/* position */

.product__actions {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  /* outline:#2196F3 solid 1px; */

  .product__txt {
    color: var(--primary-white-color);
    font-family: var(--font-family-base);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
