.contact {
    display: flex;
    margin: 0;
    margin-left: auto;
    justify-content: center; 
    align-items: center;
    }
    
    
    .contact__item {
        display: flex;
        text-align: center;
        margin-right: 50px;
    
    &:last-child {
        margin-right: 0;
    }

    &:first-child {
        margin-left: 0;
    }
}
    
    .contact__link {
        color: var(--title-text-color);
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        letter-spacing: 0.02em;
        display: flex;
        margin: 0;
        align-items: center;
        /* outline: 2px solid coral; */
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

    /* contact-icon (header) */

    .envelope-icon {
        fill: currentColor;
        margin-right: 10px;
        align-items: center;
        text-align: center;
    }
    .smartphone-icon {
        fill: currentColor;
        margin-right: 10px;
        align-items: center;
        text-align: center;
    }