.seti-title {
color: var(--primary-white-color);
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-decoration: none;
text-transform: uppercase;
margin-bottom: 20px;
}

.social-networks {
    margin-right: 93px;
}

.networks {
    display: flex;
    padding: 0;
    margin: 0;
}

.networks__item {
    margin-right: 10px;

&:last-child {
    margin-right: 0;
}
}


.networks__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    /* border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    justify-content: center; 
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover{
        background-color: var(--accent-color);
    }
    
    &:focus{
        background-color: var(--accent-color);
    }
}

.networks__icon {
    fill: var(--primary-white-color);
}

.adress-container {
    margin-right: 70px;
}
.adress-seti {
align-items: baseline;
}
