.section--bgc{
    background-color: var(--secondary-bg-color);
    }

.team {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42,19px;
    display: flex;
    text-align: center;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

.team__card {
    width: 270px;
    padding: 0;
    margin: 0;
    flex-basis: calc(100% / 4) ;
    margin-right: 30px;
    
    /* outline: 2px solid blueviolet; */
}

.team__card * {
    /* outline: 1px solid green; */
}
}

.team__content {
    background-color: var(--primary-white-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    list-style: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

.team__title {
    color: var(--primary-text-color);
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px; 
}

.team__text {
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;   
    margin-bottom: 16px;
}
}

/* Social link */

.social {
    display: flex;
    padding-left: 0;
    justify-content: center;
}

.social__item {
    margin-right: 10px;

&:last-child {
    margin-right: 0px;
}
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    fill: var(--border-clients);
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:last-child {
    margin-right: 0px;
}

&:hover {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);

}

&:focus {
    fill: var(--primary-white-color);
background-color: var(--accent-color);
}
}