:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --body-bg-color: #E5E5E5;
    --primary-bg-color: #2F303A;
    --secondary-bg-color: #F5F4FA;
    --logo-color: #000000;
    --card-set: 20px;
    --border-clients: #AFB1B8;
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --font-family-base: 'Roboto', sans-serif;
    }